.customLogin{
	width: 100%;
	margin-top: 100px;
}

nav{
  width: 100%;
}

header{
  background-image: url("../images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

html{
  height: 100%;
}

.customHeader, .custom{
   font-family: "Rancho", serif;
   text-shadow: 4px 4px 4px #aaa;
   text-align: center;
}



.customNav{
   padding-right: 400px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #cccccc;
  }

main {
    flex: 1 0 auto; 
}

.customAbout{
   background-image: url("../images/city.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   height: 1100px;
   text-align:center;
   
}

#title1{
   padding-top: 200px;
}

.parallax-container{
    height: 400px;
}

#mybtn{
   display: none;
}

.customBtn{
    margin-top: 17px;
}

.customPost{
   margin-top: 10px;
   margin-bottom: 50px;
}